<div class="h-100 bg-premium-dark">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100">
        <div class="modal-content">
          <form [formGroup]="registerForm" (submit)="submitForm($event)">
            <div class="modal-body">
              <h5 class="modal-title">
                <h4 class="mt-2">
                  <div>Xin chào!</div>
                  <span>Đơn giản chỉ mất <span class="text-success">vài giây</span> Để tạo tài khoản mới</span>
                </h4>
              </h5>
              <div class="divider"></div>
              <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                class="form-group">
                <div>
                  <input id="exampleInput1" type="email" placeholder="Enter email..." required="required"
                    formControlName="email" aria-required="true" class="form-control"
                    aria-describedby="exampleInputGroup1__BV_description_">
                  <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">
                    Chúng tôi sẽ không chia sẻ thông tin cá nhân của bạn với bất cứ ai
                  </small>
                  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
                    <div *ngIf="f.email.errors?.required">
                      Email không bỏ trống
                    </div>
                    <div *ngIf="f.email.errors?.email">
                      Email không đúng định dạng
                    </div>
                  </div>
                </div>
              </div>
              <div id="exampleInputGroup12" role="group" class="form-group">
                <div>
                  <input id="exampleInput12" type="text" placeholder="Enter username..." required="required"
                    formControlName="name" aria-required="true" class="form-control">
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                      <div *ngIf="f.name.errors?.required">
                        Tên không bỏ trống
                      </div>
                      <div *ngIf="f.name.errors?.minlength">
                        Tên tối thiểu 4 ký tự
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div id="exampleInputGroup2" role="group" class="form-group">
                    <div>
                      <input id="exampleInput2" type="password" placeholder="Enter password..." required="required"
                        formControlName="password" aria-required="true" class="form-control">
                    </div>
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
                      <div *ngIf="f.password.errors?.required">
                        Password không bỏ trống
                      </div>
                      <div *ngIf="f.password.errors?.minlength">
                        Password tối thiểu 8 ký tự
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div id="exampleInputGroup2" role="group" class="form-group">
                    <div>
                      <input id="exampleInput2" type="password" placeholder="Repeat password..." required="required"
                        formControlName="password_confirmation" aria-required="true" class="form-control">
                    </div>
                    <div *ngIf="f.password_confirmation.invalid && (f.password_confirmation.dirty || f.password_confirmation.touched)" class="alert alert-danger">
                      <div *ngIf="f.password_confirmation.errors?.required">
                        Repeat password không bỏ trống
                      </div>
                      <div *ngIf="f.password_confirmation.errors?.minlength">
                        Repeat password tối thiểu 8 ký tự
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <h6 class="mb-0">
                Bạn đã có tài khoản?
                <a [routerLink]="['/login']" class="text-primary">Đăng nhập</a>
                |
                <a [routerLink]="" class="text-primary">Khôi phục mật khẩu</a>
              </h6>
            </div>
            <div class="modal-footer d-block text-center">
              <button type="submit" 
              [disabled]="registerForm.invalid"
              class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-danger btn-lg">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Tạo tài khoản
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © ArchitectUI 2019
      </div>
    </div>
  </div>
</div>