<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>

<div class="card main-card mb-3">
    <div class="card-header">
        Danh sách danh mục sản phẩm
        <div class="row">
            <div class="col-3 offset-6">
                <input type="text" class="form-control" 
                    [(ngModel)]="filterObject.keyword"
                    (keyup)="search()"
                    placeholder="Tìm kiếm sản phẩm...">
            </div>
            <div class="col-3">
                <select class="form-control" 
                    (change)="search()"
                    [(ngModel)]="filterObject.orderBy">
                    <option *ngFor="let ord of orderData" 
                            [value]="ord.id">{{ord.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Danh mục</th>
                <th scope="col">Giá</th>
                <th scope="col">Giá khuyến mãi</th>
                <th scope="col">Galary</th>
                <th>
                    <a class="mb-2 mr-2 btn-transition btn btn-outline-primary" routerLink="/admin/add-product">Thêm mới
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ p.name | titlecase}}</td>
                <td>
                    <img [src]="p.image" class="mr-2" width="40">
                </td>
                <td>{{p.category.name | titlecase}}</td>
                <td><strong>{{p.price | currency: "VND" | lowercase}}</strong></td>
                <td><strong>{{p.sale_price | currency: "VND" | lowercase}}</strong></td>
                <td>
                    <a href="javascript:;" class="btn btn-light" [routerLink]="['/admin/edit-product-galery',p.id]" >Galery</a>
                </td>
                <td>
                    <a href="javascript:;" class="btn btn-success" [routerLink]="['/admin/edit-product',p.id]">edit</a>
                    <a href="javascript:;" class="btn btn-danger" (click)="remove(p.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mr-4 container">

        <nav aria-label="Page navigation example d-flex align-items-center">
            <div>
                <label for="">Show</label>
                <select (change)="changePageSize($event)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <ul class="pagination justify-content-end">
                <li class="page-item" *ngIf="filterObject.currentPage!=1">
                    <a class="page-link" href="javascript:;" (click)="prevPage()">Previous</a>
                </li>
                <li class="page-item disabled" *ngIf="filterObject.currentPage==1">
                    <a class="page-link" href="javascript:;" >Previous</a>
                </li>
                <li class="page-item" *ngFor="let it of pages">
                    <a class="page-link" *ngIf="it!=filterObject.currentPage" (click)="changePage(it)">{{it}}</a>
                    <a class="page-link bg-primary text-white" *ngIf="it==filterObject.currentPage">{{it}}</a>
                </li>
                <li class="page-item" *ngIf="filterObject.currentPage!=totalPage">
                    <a class="page-link" href="javascript:;" (click)="nextPage()">Next</a>
                </li>
                <li class="page-item disabled" *ngIf="filterObject.currentPage==totalPage">
                    <a class="page-link" href="javascript:;">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
