<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <ul class="list-group">
        <li class="list-group-item" aria-current="true">
          <div class="card-header" id="headingThree">
             <a href="javascript:;" routerLink="/admin">Dashboard</a>
          </div>
        </li>
        <li class="list-group-item">
            <div class="card-header" id="headingThree">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Product
                </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"><a href="javascript:;" routerLink="/admin/add-product">Add new</a></li>
                  <li class="list-group-item"><a href="javascript:;" routerLink="/admin/product-list">List</a></li>
                </ul>
              </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link btn-block text-left" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Category
                </button>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item"><a href="javascript:;" routerLink="/admin/add-cate">Add new</a></li>
                  <li class="list-group-item"><a href="javascript:;" routerLink="/admin/categories">List</a></li>
                </ul>
              </div>
            </div>
        </li>
        <li class="list-group-item">
          <div class="card-header" id="headingThree">
            <a href="javascript:;" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
      <div class="accordion mt-4 ml-4" id="accordionExample">
      </div>
    </div>
  </div>
</div>