<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">{{title | titlecase}}</h5>
        <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
            <div class="position-relative row form-group">
                <label for="exampleName" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                <div class="col-sm-10">
                    <input id="exampleName" type="text" class="form-control" formControlName="name">
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="exampleImage" class="col-sm-2 col-form-label">Ảnh</label>
                <div class="col-sm-10">
                    <input id="exampleImage" type="text" class="form-control" formControlName="image">
                </div>
            </div>
            <div class="position-relative row form-group"><label for="exampleText" class="col-sm-2 col-form-label">Mô
                    tả ngắn</label>
                <div class="col-sm-10">
                    <textarea id="exampleText" class="form-control" formControlName="short_desc"></textarea>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="exampleText" class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-10">
                    <textarea id="exampleText" class="form-control" formControlName="content"></textarea>
                </div>
            </div>
            <div class="position-relative row form-group"><label for="exampleText"
                class="col-sm-2 col-form-label">Danh mục</label>
            <div class="col-sm-10">
                <select class="form-control" formControlName="cate_id">
                    <ng-container *ngFor="let c of cates">
                        <option value="{{c.id}}">{{c.name}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="exampleName" class="col-sm-2 col-form-label">Giá sản phẩm</label>
            <div class="col-sm-10">
                <input id="exampleName" type="number" class="form-control" formControlName="price">
            </div>
        </div>
        <div class="position-relative row form-group">
            <label for="exampleName" class="col-sm-2 col-form-label">Giá khuyến mãi</label>
            <div class="col-sm-10">
                <input id="exampleName" type="number" class="form-control" formControlName="sale_price">
            </div>
        </div>
            <div class="position-relative row form-check">
                <div class="col-sm-10 offset-sm-2">
                    <button class="btn btn-success" [disabled]="!productForm.valid">Save</button>
                </div>
            </div>
        </form>
    </div>
    <pre>
    {{ productForm.value | json }}
  </pre>
</div>